.annotation-entry > div.url:before{
    content:"URL: ";
    font-weight: bold;
}

.annotation-entry > div.highlighted:before{
    content:"Highlighted text: ";
    font-weight: bold;
}

.annotation-entry > div.comment:before{
    content:"Comment: ";
    font-weight: bold;
}

th {
padding: 10px;
}

td{
padding: 10px;
}

/* Sortable tables */
table.sortable thead {
    background-color:#eee;
    color:#666666;
    font-weight: bold;
    cursor: default;
}
