h1{
	padding: 15px;
}

.annotation-entry > div.highlighted:before{
    content:"Highlighted text: ";
    font-weight: bold;
}

.annotation-entry > div.comment:before{
    content:"Comment: ";
    font-weight: bold;
}

.annotation-entry > div.username:before{
    content:"Username: ";
    font-weight: bold;
}


/*CSS for detailed view of single annotation*/
.detailed-view {
    position:fixed;
    z-index:99;
}

div.annotation-view{
    visibility:hidden;
    position: absolute;
    background-color: white;
    top:25%;
    left:25%;
    border:solid lightblue;
    padding: 12px;
    z-index:100;
	border:2px solid;
}

div.type:before{
	content:"Type\a";  
	white-space: pre;
	font-weight: bold;
}


div.url:before{
	content:"URL: ";  
	white-space: pre;
	font-weight: bold;
}
/*
div.highlighted{
	border:1px solid;
}*/

div.highlighted:before{
	content:"Highlighted text\a";  
	white-space: pre;
	font-weight: bold;
}
/*div.user-info{
	border: 1px solid;
}*/

div.user-info > .comment:before{
	content:"User comment\a";  
	white-space: pre;
	font-weight: bold;
}

div.user-info > .username:before{
	content:"Username\a";  
	white-space: pre;
	font-weight: bold;
}

div.user-info > .datetime:before{
	content:"Date\a";  
	white-space: pre;
	font-weight: bold;
}

div.replies{
	border-top:2px solid gray;
}

div.replies:before{
	content:"Replies\a";  
	white-space: pre;
	font-weight: bold;
}

div.reply{
	border-bottom:1px solid gray;
}

/* Table Sorter CSS */
table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	padding: 10px;
	font-size: 10pt;
	width: 100%;
	text-align: left;
	table-layout:fixed;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #000;
	font-size: 10pt;
	padding: 13px;
	text-decoration:underline;
	
}
table.tablesorter thead tr .header {
	background-image: url(../TableSorter/themes/blue/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 5px;
	background-color: #FFF;
	vertical-align: top;
}

tbody tr:hover > *{

    background-color:#DDDDDD !important;
    cursor: -webkit-zoom-in; cursor: -moz-zoom-in;
   }

table.tablesorter thead tr .headerSortUp {
	background-image: url(../TableSorter/themes/blue/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(../TableSorter/themes/blue/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}



/* Annotation styles in table */

div.subject, .grade, .chapternumber{
    font-size: 100%;
    float:left;
    font-weight:bold;
}

div.chaptertitle{
	clear-right;
    font-size: 100%;
    font-weight:bold;
	}

div.subject {
    width:25%;
}

div.chapternumber {
    width:8%;
}

div.grade {
    width: 15%;
}

div.chapter-filter > div.filter{
	width:33%;
	float: left;
}


/*Styles for username search box*/
div.search{
    padding-bottom: 10px;
}
/*Styles for reset button*/

div.reset{
	text-align:center;
	border-top: 1px solid gray;
	padding:15px;
	border-radius:0px;	chapter
}

/* close button */
#popovercloseid {
    clear:both;
}

