.annotation-entry > div.url:before{
    content:"URL: ";
    font-weight: bold;
}

.annotation-entry > div.highlighted:before{
    content:"Highlighted text: ";
    font-weight: bold;
}

.annotation-entry > div.comment:before{
    content:"Comment: ";
    font-weight: bold;
}

/*th{
padding: 10px;
text-decoration:underline;
}

td{
padding: 10px;
}*/


/* Table Sorter CSS */
table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	padding: 10px;
	font-size: 10pt;
	width: 100%;
	text-align: left;
	table-layout:auto;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #000;
	font-size: 10pt;
	padding: 13px;
	text-decoration:underline;
	
}
table.tablesorter thead tr .header {
	background-image: url(../TableSorter/themes/blue/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 5px;
	background-color: #FFF;
	vertical-align: top;
}
/*table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}*/
table.tablesorter thead tr .headerSortUp {
	background-image: url(../TableSorter/themes/blue/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(../TableSorter/themes/blue/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}
